* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #222;
  --blue: #317ff9;
  --pink: #ffc7b2;
  --border-radius: 16px;
}

body {
  font-family: Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  background: #eee;
}

img {
  vertical-align: middle;
  border-radius: var(--border-radius);
}

button {
  border: none;
  cursor: pointer;
  font-weight: 700;
}

p {
  line-height: 1.4;
  margin: 0 0 10px;
}

h4,
h5 {
  margin: 0 0 5px;
}

h4 {
  font-weight: 300;
}
